body{
    margin: 0px;
    padding: 0px;
    background-image:
        radial-gradient(
            rgba(238, 249, 252, 1),
            rgba(209, 239, 247, 1)
        ),
        url("public/img/blu_stripes.png");
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: bolder;
}
h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 26px;
}
h2{
    font-family: 'Merriweather', serif;
    font-size: 14px;
    color:#D1EFF7;
    font-weight: 600;
}

#page-container{
    display: grid;
    height: 98vh;
    width: 98vw;
    margin: 5px auto;
    grid-template: /*Defino la grilla*/
        [row1-start] "logotipo header header" 100px [row1-end] /*Primera fila*/
        [row2-start] "aside main main" auto [row2-end] /*Tercera fila*/
        [row3-start] "footer footer footer" 50px [row3-end] /*Tercera fila*/
        /170px auto auto;
    justify-content: stretch;
    border-style: solid;
    border-width: 2px;
    border-color: #00142C;
    border-radius: 10px;
}
#logotipo{
    text-align: center;
    background-color: #00142C;
    grid-area: logotipo;
    place-content: center;
    border-bottom-color: #57D338;
    border-bottom-width: 3px;
    border-bottom-style: solid;
}
#header {
    display:flex;
    flex-flow: column wrap;
    justify-content: space-between;
    background-color: #00142C;
    grid-area: header;
    border-bottom-color: #57D338;
    border-bottom-width: 3px;
    border-bottom-style: solid;
}
#header ul li {
    display:inline-block;
    list-style: none; 
}
#header ul li a{
    
    text-decoration: none; 
    padding: 10px;
    font-size: 14px;
}
#principal-navbar-container{
    display:flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    align-items: center;
    height: 75%;
    background-color: #00142C;
    
}
#principal-navbar{
    padding: 0px;
    margin: 0px;
    line-height: 20px;
    background-color: #00142C;
    
}
#principal-navbar-container ul li a{
    color: #D1EFF7;
}
#secondary-navbar-container{
    display:flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    align-items: center;
    height: 25%;
    background-color: #57D338;
    border-top-right-radius: 7px;

}
#secondary-navbar{
    padding: 0px;
    margin: 0px;
    line-height: 20px;
    background-color: #57D338;    
}
#secondary-navbar-container ul li a{
    color: #00142C;
}
#footer {
    background-color: #00142C;
    grid-area: footer;
    place-content: center;
    color: #EEF9FC;
    border-top-color: #57D338;
    border-top-width: 3px;
    border-top-style: solid;
    text-align: center;
    line-height: 50px;
}
#aside{
    text-align: center;
    background-color: #1E4586;
    grid-area: aside;

}
#aside ul li{
    display: block;
    list-style: none;
    text-align: left;
}
#aside ul li a{
    text-decoration: none;
    padding: 10px 5px;
    line-height: 30px;
    font-size: 14px;
    color: #EEF9FC;

}
/*Aquí van los estilos de las páginas principales */
#main-content{
    grid-area: main;
    margin-left: 30%;
    margin-top: 10%;
    text-align: left;
/*    background-color: red;*/
}